In [1]:
# 1) load data into pandas data frame
# 2) Generate series of visuals of data using pyplot (at least 4: different
# types, subplots, etc)  Should be clean and elegant.
# 3) 2-3 sentences describing what you think is revealed 
# save these in Jupiter notebook.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('unemploy.csv')

In [20]:
print(df)

   Total 25-54 unemployment (%)  1981  1982  1983  1984  1985  1986  1987  \
0                     Australia   NaN   NaN   NaN   NaN   NaN   5.8   5.9
1                        Canada   5.9   8.9   9.9   9.7   9.2   8.3   7.7
2                    Czech Rep.   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                       Estonia   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4                       Finland   3.8   4.2   4.2   3.7   3.8   4.2   4.3
5                        France   5.2   5.7   6.0   7.0   7.7   8.2   8.7
6                       Germany   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7              Hong Kong, China   NaN   NaN   NaN   NaN   2.2   1.8   1.1
8                       Ireland   NaN   NaN  12.5  14.0  15.6  15.5  15.4
9                         Japan   1.8   1.9   2.2   2.2   2.1   2.2   2.3
10                  Korea, Rep.   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11                       Latvia   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12                    Lithuania   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13                  Netherlands   NaN   NaN   NaN   NaN   NaN   NaN   8.3
14                  New Zealand   NaN   NaN   NaN   NaN   NaN   2.8   2.9
15                       Norway   1.5   1.8   2.6   2.6   2.0   1.4   1.5
16                  Philippines   NaN   NaN   NaN   NaN   NaN   7.8   7.4
17                       Poland   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18                     Portugal   NaN   NaN   5.3   5.8   6.2   6.2   5.2
19                      Romania   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20                    Singapore   1.8   1.6   2.1   1.9   3.1   4.8   3.6
21              Slovak Republic   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22                     Slovenia   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23                        Spain   8.9  10.2  11.5  13.8  15.5  15.0  14.9
24                       Sweden   1.7   2.2   2.4   2.2   1.9   1.9   1.6
25                  Switzerland   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26                       Turkey   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27               United Kingdom   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28                United States   5.7   7.8   7.9   6.0   5.8   5.6   5.0
29                          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    1988  1989  ...       1997  1998  1999  2000  2001  2002  2003  2004  \
0    5.2   4.6  ...   6.400000   6.0   5.4   5.0   5.3   5.1   4.8   4.2
1    6.9   6.8  ...   7.800000   7.0   6.4   5.7   6.2   6.5   6.4   6.0
2    NaN   NaN  ...   4.100000   5.5   7.5   7.7   7.2   6.5   7.0   7.3
3    NaN   NaN  ...        NaN   NaN   NaN  12.9  11.8  10.0   9.4   8.9
4    3.8   2.1  ...  10.700000   9.4   8.5   8.0   7.4   7.3   7.3   7.2
5    8.5   8.2  ...  11.100000  10.7  10.0   8.8   8.1   8.3   8.9   9.1
6    NaN   NaN  ...   8.900000   8.4   7.8   7.3   7.6   8.2   9.5  10.4
7    0.9   0.7  ...   1.700000   3.7   5.0   4.0   4.3   6.3   6.9   5.9
8   15.0  14.4  ...   9.500000   7.3   5.3   4.0   3.3   3.7   4.0   3.9
9    2.0   1.8  ...   2.800000   3.4   4.0   4.0   4.4   4.9   4.7   4.4
10   NaN   NaN  ...   2.100000   6.3   5.8   3.9   3.6   3.0   3.1   3.2
11   NaN   NaN  ...  14.200000  12.9  13.6  14.1  12.4  11.1   9.9   9.8
12   NaN   NaN  ...        NaN  12.8  14.0  15.6  16.5  13.2  11.2  10.4
13   8.2   7.5  ...   4.800000   3.6   2.7   2.4   2.2   2.7   3.8   4.4
14   4.0   5.3  ...   5.300000   6.1   5.4   4.5   4.1   4.0   3.5   2.9
15   2.2   3.8  ...   3.200000   2.3   2.3   2.5   2.7   3.0   3.9   3.9
16   6.3   5.8  ...   5.800000   5.4   5.2   6.1   6.0   6.4   6.4   6.6
17   NaN   NaN  ...  10.000000   9.3  11.9  13.9  15.7  17.5  17.4  16.9
18   4.2   3.8  ...   5.700000   4.5   4.1   3.5   3.5   4.5   5.8   6.1
19   NaN   NaN  ...   4.800000   5.4   6.1   6.6   6.1   7.4   6.3   6.9
20   2.4   1.6  ...   1.900000   3.0   3.8   NaN   3.5   4.6   4.8   4.3
21   NaN   NaN  ...   9.900000  10.2  13.1  15.4  15.9  15.3  15.0  16.0
22   NaN   NaN  ...   5.600000   6.4   6.2   6.1   4.7   5.2   5.8   5.3
23  14.6  13.6  ...  18.200001  16.5  13.8  12.3   9.3  10.2  10.3   9.8
24   1.4   1.2  ...   9.000000   7.6   6.2   4.9   4.0   4.2   4.9   5.5
25   NaN   NaN  ...   4.100000   3.3   2.7   2.3   2.1   2.7   3.7   4.0
26   NaN   5.9  ...   4.600000   4.9   5.8   4.9   6.7   8.6   8.7   8.7
27   NaN   NaN  ...        NaN   NaN   NaN   NaN   3.9   4.1   3.7   3.6
28   4.4   4.2  ...   3.900000   3.5   3.2   3.1   3.8   4.8   5.0   4.6
29   NaN   NaN  ...        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    2005  Unnamed: 26
0    3.9          NaN
1    5.7          NaN
2    7.4          NaN
3    7.5          NaN
4    6.8          NaN
5    9.1          NaN
6   10.4          NaN
7    4.8          NaN
8    3.7          NaN
9    4.2          NaN
10   3.4          NaN
11   8.2          NaN
12   7.8          NaN
13   4.4          NaN
14   2.7          NaN
15   4.0          NaN
16   5.6          NaN
17  16.0          NaN
18   7.3          NaN
19   6.4          NaN
20   NaN          NaN
21   NaN          NaN
22   5.7          NaN
23   8.0          NaN
24   6.3          NaN
25   3.8          NaN
26   9.5          NaN
27   3.5          NaN
28   4.1          NaN
29   NaN          NaN

[30 rows x 27 columns]

In [43]:
#label x and y axes
# x = Year
# y = Unemployment rate
%matplotlib inline
df.plot(x='Total 25-54 unemployment (%)', y='1980', kind='scatter')

ValueError: scatter requires x column to be numeric