In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

1) Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [2]:
df = pd.DataFrame() #why does capitalization of function matter?? nuts!
df['index'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
df['Ages'] = [14, 12, 11, 10, 8, 6, 8]

CODE FOR #1

In [3]:
df.Ages.mean()

9.857142857142858

In [4]:
df.Ages.median()

10.0

In [5]:
df.Ages.mode()

0    8
dtype: int64

In [6]:
var = df.Ages.var()
sd = var**.5 #or just use np.std method
sd

2.734262327610589

In [7]:
np.std(df['Ages'] ,ddof=1) / np.sqrt(len(df['Ages']))

1.0334540197243192

2)Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

Answer FOR #2: I would choose the median as the best representation because it is equidistant from the youngest and oldest ages, but in terms of its numerical value and the number of "counts" between it and those "outliers".  I would use either variance or standard deviation (not standard error because we are not comparing to a larger population).

3) Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [8]:
df

    index  Ages
0    Greg    14
1  Marcia    12
2   Peter    11
3     Jan    10
4   Bobby     8
5   Cindy     6
6  Oliver     8

In [9]:
df.at[5, 'Ages'] = 7
df

    index  Ages
0    Greg    14
1  Marcia    12
2   Peter    11
3     Jan    10
4   Bobby     8
5   Cindy     7
6  Oliver     8

The mean would be a big higher with Cindy's birthday, but mode and median would stay unchanged.  Variance, standard deviation, and standard error should be a tiny bit lower.  Let's see:

In [10]:
var = df.Ages.var()
sd = var**.5 #or just use np.std method
sd

2.516611478423583

In [11]:
np.std(df['Ages'] ,ddof=1) / np.sqrt(len(df['Ages']))

0.9511897312113418

Yep, I was right.

4) Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [14]:
# df.append['Jessica'] spent way too long looking for the code for this.
#df.index.insert(6, 'Jessica')  This doesn't work either.
#df = df.drop(df.index[6]) easier just to replace with:
df.iloc[6, 0] = 'Jessica'
df.iloc[6, 1] = '1'

In [15]:
df

     index Ages
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

I still want to use the median for CT for the same reason as above.  I'm not sure why I would want to use a different variance estimation method - although v and sd would both now be larger, correct?

5) On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: 
TV Guide 20% fans 
Entertainment Weekly 23% fans 
Pop Culture Today 17% fans 
SciPhi Phanatic 5% fans. 
Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

This seems like a trick question.  We don't know which of the readers surveyed were adults, and we don't know the sample size of the readership or the population size of adult Americans.